.footer {
  background-color: pink;
  height: 20vh;
  padding-top: 4em;
}

.footer-links {
  background-color: purple;
  font-size: 1.2em;
  height: 15vh;
  list-style-type: none;
  margin-left: 40%;
  width: 9vw;
}
