.header {
  background-color: turquoise;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header h1 {
  font-size: 3em;
  padding-right: 1em;
}

.logo-cont {
  height: 250px;
  padding-left: 32%;
  width: 550px;
}

.logo {
  float: right;
  height: 100%;
  width: 100%;
}

.nav {
  background-color: pink;
  display: flex;
  font-size: 28px;
  justify-content: center;
  list-style-type: none;
  text-align: center;
}

.nav a {
  color: black;
  padding-right: 2em;
  text-decoration: none;
}

.nav a:hover {
  color: white;
}
